<!DOCTYPE html>
<html>
  <head>
    <title>TeleopQuizGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav nav-pills justify-content-center">
        <li class='nav-link'>
          <%= button_to 'Home', root_path, method: :get, class: 'btn home-button' %>
        </li>
        <% if logged_in? %>
        <li class='nav-link'>
          <%= button_to "My Profile",  user_path(current_user), method: :get, class: 'btn profile-button' %>
        </li>
        <li class='nav-link'>
          <%= button_to "Sign Out", logout_path, method: :delete, class: 'btn signout-button' %>
        </li>
        <% else %>
          <!-- <li class='nav-link'>
            <%= button_to 'Register', new_user_path, method: :get, class: 'btn register-button' %>
          </li> -->
          <li class='nav-link'>
            <%= render "sessions/new" %>
          </li>
        <% end %>
      </ul>

    <%= yield %>
  </body>
</html>
